[
  {
    "title" :"SiteName",
    "icon": "/icon.png",
    "branches": [
        {"title" :"line1", "url": "https://<site_addr1>:443/"},
        {"title" :"line2", "url": "https://<site_addr2>:443/"},
        {"title" :"line3", "url": "https://<site_addr3>:443/"}
    ]
  }
]
